get-pip.py
__pycache__
*.npz
*.zip
scene_parse150/data/color150
scene_parse150/data/ADEChallengeData2016
scene_parse150/data/*.tfrecords

VOC2012/data/ImageSets
VOC2012/data/JPEGImages
VOC2012/data/SegmentationClass
VOC2012/data/SegmentationObject
VOC2012/data/*.tfrecords
model_viewer.py