get-pip.py
__pycache__
*.npz
*.zip
*.tar
*.dot

scene_parse150/data
scene_parse150
scene_parse150/data/color150
scene_parse150/data/ADEChallengeData2016
scene_parse150/data/*.tfrecords

VOC2012/data/ImageSets
VOC2012/data/JPEGImages
VOC2012/data/JPEGImages_Sample
VOC2012/data/SegmentationClass
VOC2012/data/SegmentationObject
VOC2012/data/*.tfrecords
model_viewer.py
VOC2012/ncc
VOC2012/compile_kmodel.sh
# keras_conv2d_test.py
# keras_conv2d_test.h5
# keras_conv2d_test.tflite
